html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.error {
  visibility: hidden;
  color: red;
}

.container {
  padding: 20px;
}

.container h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0 0 0;
}

form input[type='text'] {
  margin-bottom: 10px;
}

form button {
  width: 100px;
}
