@import './public/sass/resets';

$fonts-family: 'Poppins', sans-serif;

body {
  max-width: 100%;
  font-family: $fonts-family;
}

.container {
  padding: 20px;

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
}

#book-container {
  border-radius: 4px;
  border: 1px solid gray;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;

  .books {
    width: 100%;
    padding: 7px;

    &:nth-child(odd) {
      background-color: #dddddd;
    }

    .book-item {
      display: flex;
      justify-content: space-between;
    }

    .book-btns {
      appearance: button;
      background-color: #fff;
      background-image: none;
      border: 2px solid #000;
      border-radius: 4px;
      box-shadow: #000 4px 4px 0 0, #fff 4px 4px 0 1px;
      color: #000;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 10px;
      overflow: visible;
      padding: 10px 20px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      margin-right: 5px;
      &:focus {
        text-decoration: none;
        background: #000;
        color: #fff;
      }

      &:hover {
        text-decoration: none;
        background: #000;
        color: #fff;
        box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
      }

      &:active {
        box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
        outline: 0;
      }

      &:not([disabled]):active {
        box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
      }
    }
  }
}

.book-bottom {
  width: 15%;
  border: 1px solid #000;
}

.form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;

  h2 {
    text-align: center;
  }

  form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0 0 0;

    input[type='text'] {
      margin-bottom: 10px;
      border: 1px solid #000;
      border-radius: 2px;
      padding: 5px;
      width: 300px;
      height: 30px;
    }

    .error {
      visibility: hidden;
      color: red;
      font-size: 13px;
    }

    .formBtn {
      width: 100px;
      align-self: flex-end;
      appearance: button;
      background-color: #fff;
      background-image: none;
      border: 2px solid #000;
      border-radius: 4px;
      box-shadow: #000 4px 4px 0 0, #fff 4px 4px 0 1px;
      color: #000;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 10px;
      overflow: visible;
      padding: 10px 10px;
      text-align: center;
      margin-bottom: 10px;

      &:focus {
        text-decoration: none;
        background: #000;
        color: #fff;
      }

      &:hover {
        text-decoration: none;
        background: #000;
        color: #fff;
        box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
      }

      &:active {
        box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
        outline: 0;
      }

      &:not([disabled]):active {
        box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
      }
    }
  }
}
